

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
        #27ae60;
}


body {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	-webkit-font-smoothing: antialiased;
	background: 
        #27ae60;
}
/*form styles*/
#msform {
    max-width: 1000px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	font-family: "proxima-nova", "Source Sans Pro", sans-serif;
	color: #2C3E50;
	font-size: 15px;
}



#msform .action-button {
	width: auto;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .final-action-button {
	width: auto;
	background: rgb(175, 180, 177);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}



#msform .action-button:disabled {
	background: rgb(142, 172, 154);
}

#msform .action-button:active:hover:not([disabled]), #msform .action-button:active:focus:not([disabled]) {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 15px;
	color: #666;
	margin-bottom: 20px;
}
